$color-back: rgba(50, 70, 100, 0.5);
$color-border: rgb(32, 3, 3);


@mixin card-visual($creature, $color1, $color2){
    background:
    url("/assets/img/"+$creature+".png"),
    linear-gradient(
        0deg,
        $color1 0%,
        $color2 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
}

.game_container{
    width: 80%;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;

    .card{
        box-sizing: border-box;
        $size: 200px;
        $size2: $size * 0.5;
        display: inline-block;

        width: $size;
        height: $size;
        margin: ($size/16);

        border: 1px solid $color-border;
        border-radius: 8%;
        box-shadow: 0 0 1px 4px $color-border inset,
        2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        @include card-visual("back", rgb(202, 146, 74), rgb(243, 229, 166));

        cursor: pointer;


        &.yellow{ @include card-visual("lil_dragon", rgb(255, 174, 0), rgb(255, 240, 173)); }
        &.blue{ @include card-visual("bat", rgb(10, 26, 80), rgb(84, 200, 230)); }
        &.red{ @include card-visual("blood_demon", rgb(80, 10, 10), rgb(250, 96, 69)); }
        &.white{ @include card-visual("skeleton", rgb(216, 189, 189), rgb(102, 112, 133)); }
        &.green{ @include card-visual("goblin", rgb(213, 233, 103), rgb(2, 95, 44)); }
        &.brown{ @include card-visual("mandragore", rgb(167, 170, 135), rgb(85, 55, 49)); }
        &.pink{ @include card-visual("succubus", rgb(247, 219, 255), rgb(161, 107, 223)); }
        &.gray{ @include card-visual("golem", rgb(83, 94, 89), rgb(197, 197, 197)); }
    }
}