$red: #e00f05;
$blue: #2055e0;
$yellow: #ffd530;
$green: #8dc540;
$purple: #4976d8;
$white: #e0e0e0;
$black: #5a5a5a;
$orange: #fb0;

// CSS variables
body{
    --time-color: rgb(8, 187, 8);
    --time-color-a4: rgba(8, 187, 8, 0.4);
    --time-color-a8: rgba(8, 187, 8, 0.8);
}